%h1 あげはま

.position
  %p マウスホバーでポジション表示

.bord
  - size = 19
  - size.times do |y|
    - style = if y == 0 then 'first' else '' end
    %div{class: "bord-y y-#{y} #{style}"}
      - size.times do |x|
        %span{class: "position x-#{x} y-#{y}"}
