// Place all the styles related to the welcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$size: 30px;

div.bord {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
}

span.position {
  width: $size;
  height: $size;

  display: box;
  display: -moz-box;
  display: -o-box;
  display: -webkit-box;
  display: -ms-box;

  background-image: url("tiles.png");
}

span.position.highlight {
  background-position: $size*2 0px;
}
span.position.highlight.me {
  background-position: $size 0px;
}
span.position.black {
  background-position: 0px $size*2;
}
span.position.black.highlight {
  background-position: $size*2 $size*2;
}
span.position.black.highlight.me {
  background-position: $size $size*2;
}
span.position.white {
  background-position: 0px $size;
}
span.position.white.highlight {
  background-position: $size*2 $size;
}
span.position.white.highlight.me {
  background-position: $size $size;
}
