// Place all the styles related to the welcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$default_border: 1px #000 solid;
$default_color: #eee8d5;
$hover-color: red;
$size: 30px;

div.bord {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
}

div.bord-y {
  border-left: $default_border;
  height: $size + 1;
}
div.bord-y.y-0 {
  height: $size + 2;
}

span.position {
  width: $size;
  height: $size;

  display: box;
  display: -moz-box;
  display: -o-box;
  display: -webkit-box;
  display: -ms-box;

  border-right: $default_border;
  border-bottom: $default_border;

  background-color: $default-color;
  &:hover {
    background-color: $hover-color;
  }
}

span.position.y-0 {
  border-top: $default_border;
}

span.position.black {
  background-color: black;
}
span.position.white {
  background-color: white;
}
span.position.highlight {
  background-color: #ff9999;
}
