// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$size: 30px;
$length: 19;
$max-size: $size * $length;
$edge-size: 10px;

div.bord {
  margin: 0;
  padding: $edge-size;
  line-height: 0;
  font-size: 0;

  width: $max-size;
  height: $max-size;

  background-image: url("background.jpg");
  background-size: $max-size + $edge-size $max-size + $edge-size;
}

div.bord-y {
  width: $max-size;
  height: $size;

  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;

  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -ms-box-orient: horizontal;
}

div.point {
  width: $size;
  height: $size;

  background-image: url("tiles.png");
  background-position: 0px 0px;
}

$pos-nothing: 0;
$pos-star:    $size * 3;
$pos-black:   $size * 2;
$pos-white:   $size;

div.point.top    { background-position: $size*32 $pos-nothing; }
div.point.bottom { background-position: $size*28 $pos-nothing; }
div.point.left   { background-position: $size*24 $pos-nothing; }
div.point.right  { background-position: $size*20 $pos-nothing; }
div.point.top.left    { background-position: $size*16 $pos-nothing; }
div.point.top.right   { background-position: $size*12 $pos-nothing; }
div.point.bottom.left { background-position: $size*8  $pos-nothing; }
div.point.bottom.right{ background-position: $size*4  $pos-nothing; }

div.point.highlight-x        { background-position: $size*35 $pos-nothing; }
div.point.top.highlight-x    { background-position: $size*31 $pos-nothing; }
div.point.bottom.highlight-x { background-position: $size*27 $pos-nothing; }
div.point.left.highlight-x   { background-position: $size*23 $pos-nothing; }
div.point.right.highlight-x  { background-position: $size*19 $pos-nothing; }
div.point.top.left.highlight-x    { background-position: $size*15 $pos-nothing; }
div.point.top.right.highlight-x   { background-position: $size*11 $pos-nothing; }
div.point.bottom.left.highlight-x { background-position: $size*7  $pos-nothing; }
div.point.bottom.right.highlight-x{ background-position: $size*3  $pos-nothing; }

div.point.highlight-y        { background-position: $size*34 $pos-nothing; }
div.point.top.highlight-y    { background-position: $size*30 $pos-nothing; }
div.point.bottom.highlight-y { background-position: $size*26 $pos-nothing; }
div.point.left.highlight-y   { background-position: $size*22 $pos-nothing; }
div.point.right.highlight-y  { background-position: $size*18 $pos-nothing; }
div.point.top.left.highlight-y    { background-position: $size*14 $pos-nothing; }
div.point.top.right.highlight-y   { background-position: $size*10 $pos-nothing; }
div.point.bottom.left.highlight-y { background-position: $size*6  $pos-nothing; }
div.point.bottom.right.highlight-y{ background-position: $size*2  $pos-nothing; }

div.point.highlight-x.highlight-y        { background-position: $size*33 $pos-nothing; }
div.point.top.highlight-x.highlight-y    { background-position: $size*29 $pos-nothing; }
div.point.bottom.highlight-x.highlight-y { background-position: $size*25 $pos-nothing; }
div.point.left.highlight-x.highlight-y   { background-position: $size*21 $pos-nothing; }
div.point.right.highlight-x.highlight-y  { background-position: $size*17 $pos-nothing; }
div.point.top.left.highlight-x.highlight-y    { background-position: $size*13 $pos-nothing; }
div.point.top.right.highlight-x.highlight-y   { background-position: $size*9 $pos-nothing; }
div.point.bottom.left.highlight-x.highlight-y { background-position: $size*5  $pos-nothing; }
div.point.bottom.right.highlight-x.highlight-y{ background-position: $size    $pos-nothing; }


div.point.star        { background-position: 0 $pos-star; }
div.point.star.top    { background-position: $size*32 $pos-star; }
div.point.star.bottom { background-position: $size*28 $pos-star; }
div.point.star.left   { background-position: $size*24 $pos-star; }
div.point.star.right  { background-position: $size*20 $pos-star; }
div.point.star.top.left    { background-position: $size*16 $pos-star; }
div.point.star.top.right   { background-position: $size*12 $pos-star; }
div.point.star.bottom.left { background-position: $size*8  $pos-star; }
div.point.star.bottom.right{ background-position: $size*4  $pos-star; }

div.point.star.highlight-x        { background-position: $size*35 $pos-star; }
div.point.star.top.highlight-x    { background-position: $size*31 $pos-star; }
div.point.star.bottom.highlight-x { background-position: $size*27 $pos-star; }
div.point.star.left.highlight-x   { background-position: $size*23 $pos-star; }
div.point.star.right.highlight-x  { background-position: $size*19 $pos-star; }
div.point.star.top.left.highlight-x    { background-position: $size*15 $pos-star; }
div.point.star.top.right.highlight-x   { background-position: $size*11 $pos-star; }
div.point.star.bottom.left.highlight-x { background-position: $size*7  $pos-star; }
div.point.star.bottom.right.highlight-x{ background-position: $size*3  $pos-star; }

div.point.star.highlight-y        { background-position: $size*34 $pos-star; }
div.point.star.top.highlight-y    { background-position: $size*30 $pos-star; }
div.point.star.bottom.highlight-y { background-position: $size*26 $pos-star; }
div.point.star.left.highlight-y   { background-position: $size*22 $pos-star; }
div.point.star.right.highlight-y  { background-position: $size*18 $pos-star; }
div.point.star.top.left.highlight-y    { background-position: $size*14 $pos-star; }
div.point.star.top.right.highlight-y   { background-position: $size*10 $pos-star; }
div.point.star.bottom.left.highlight-y { background-position: $size*6  $pos-star; }
div.point.star.bottom.right.highlight-y{ background-position: $size*2  $pos-star; }

div.point.star.highlight-x.highlight-y        { background-position: $size*33 $pos-star; }
div.point.star.top.highlight-x.highlight-y    { background-position: $size*29 $pos-star; }
div.point.star.bottom.highlight-x.highlight-y { background-position: $size*25 $pos-star; }
div.point.star.left.highlight-x.highlight-y   { background-position: $size*21 $pos-star; }
div.point.star.right.highlight-x.highlight-y  { background-position: $size*17 $pos-star; }
div.point.star.top.left.highlight-x.highlight-y    { background-position: $size*13 $pos-star; }
div.point.star.top.right.highlight-x.highlight-y   { background-position: $size*9  $pos-star; }
div.point.star.bottom.left.highlight-x.highlight-y { background-position: $size*5  $pos-star; }
div.point.star.bottom.right.highlight-x.highlight-y{ background-position: $size    $pos-star; }


div.point.black        { background-position: 0 $pos-black; }
div.point.black.top    { background-position: $size*32 $pos-black; }
div.point.black.bottom { background-position: $size*28 $pos-black; }
div.point.black.left   { background-position: $size*24 $pos-black; }
div.point.black.right  { background-position: $size*20 $pos-black; }
div.point.black.top.left    { background-position: $size*16 $pos-black; }
div.point.black.top.right   { background-position: $size*12 $pos-black; }
div.point.black.bottom.left { background-position: $size*8  $pos-black; }
div.point.black.bottom.right{ background-position: $size*4  $pos-black; }

div.point.black.highlight-x        { background-position: $size*35 $pos-black; }
div.point.black.top.highlight-x    { background-position: $size*31 $pos-black; }
div.point.black.bottom.highlight-x { background-position: $size*27 $pos-black; }
div.point.black.left.highlight-x   { background-position: $size*23 $pos-black; }
div.point.black.right.highlight-x  { background-position: $size*19 $pos-black; }
div.point.black.top.left.highlight-x    { background-position: $size*15 $pos-black; }
div.point.black.top.right.highlight-x   { background-position: $size*11 $pos-black; }
div.point.black.bottom.left.highlight-x { background-position: $size*7  $pos-black; }
div.point.black.bottom.right.highlight-x{ background-position: $size*3  $pos-black; }

div.point.black.highlight-y        { background-position: $size*34 $pos-black; }
div.point.black.top.highlight-y    { background-position: $size*30 $pos-black; }
div.point.black.bottom.highlight-y { background-position: $size*26 $pos-black; }
div.point.black.left.highlight-y   { background-position: $size*22 $pos-black; }
div.point.black.right.highlight-y  { background-position: $size*18 $pos-black; }
div.point.black.top.left.highlight-y    { background-position: $size*14 $pos-black; }
div.point.black.top.right.highlight-y   { background-position: $size*10 $pos-black; }
div.point.black.bottom.left.highlight-y { background-position: $size*6  $pos-black; }
div.point.black.bottom.right.highlight-y{ background-position: $size*2  $pos-black; }

div.point.black.highlight-x.highlight-y        { background-position: $size*33 $pos-black; }
div.point.black.top.highlight-x.highlight-y    { background-position: $size*29 $pos-black; }
div.point.black.bottom.highlight-x.highlight-y { background-position: $size*25 $pos-black; }
div.point.black.left.highlight-x.highlight-y   { background-position: $size*21 $pos-black; }
div.point.black.right.highlight-x.highlight-y  { background-position: $size*17 $pos-black; }
div.point.black.top.left.highlight-x.highlight-y    { background-position: $size*13 $pos-black; }
div.point.black.top.right.highlight-x.highlight-y   { background-position: $size*9  $pos-black; }
div.point.black.bottom.left.highlight-x.highlight-y { background-position: $size*5  $pos-black; }
div.point.black.bottom.right.highlight-x.highlight-y{ background-position: $size    $pos-black; }


div.point.white        { background-position: 0 $pos-white; }
div.point.white.top    { background-position: $size*32 $pos-white; }
div.point.white.bottom { background-position: $size*28 $pos-white; }
div.point.white.left   { background-position: $size*24 $pos-white; }
div.point.white.right  { background-position: $size*20 $pos-white; }
div.point.white.top.left    { background-position: $size*16 $pos-white; }
div.point.white.top.right   { background-position: $size*12 $pos-white; }
div.point.white.bottom.left { background-position: $size*8  $pos-white; }
div.point.white.bottom.right{ background-position: $size*4  $pos-white; }

div.point.white.highlight-x        { background-position: $size*35 $pos-white; }
div.point.white.top.highlight-x    { background-position: $size*31 $pos-white; }
div.point.white.bottom.highlight-x { background-position: $size*27 $pos-white; }
div.point.white.left.highlight-x   { background-position: $size*23 $pos-white; }
div.point.white.right.highlight-x  { background-position: $size*19 $pos-white; }
div.point.white.top.left.highlight-x    { background-position: $size*15 $pos-white; }
div.point.white.top.right.highlight-x   { background-position: $size*11 $pos-white; }
div.point.white.bottom.left.highlight-x { background-position: $size*7  $pos-white; }
div.point.white.bottom.right.highlight-x{ background-position: $size*3  $pos-white; }

div.point.white.highlight-y        { background-position: $size*34 $pos-white; }
div.point.white.top.highlight-y    { background-position: $size*30 $pos-white; }
div.point.white.bottom.highlight-y { background-position: $size*26 $pos-white; }
div.point.white.left.highlight-y   { background-position: $size*22 $pos-white; }
div.point.white.right.highlight-y  { background-position: $size*18 $pos-white; }
div.point.white.top.left.highlight-y    { background-position: $size*14 $pos-white; }
div.point.white.top.right.highlight-y   { background-position: $size*10 $pos-white; }
div.point.white.bottom.left.highlight-y { background-position: $size*6  $pos-white; }
div.point.white.bottom.right.highlight-y{ background-position: $size*2  $pos-white; }

div.point.white.highlight-x.highlight-y        { background-position: $size*33 $pos-white; }
div.point.white.top.highlight-x.highlight-y    { background-position: $size*29 $pos-white; }
div.point.white.bottom.highlight-x.highlight-y { background-position: $size*25 $pos-white; }
div.point.white.left.highlight-x.highlight-y   { background-position: $size*21 $pos-white; }
div.point.white.right.highlight-x.highlight-y  { background-position: $size*17 $pos-white; }
div.point.white.top.left.highlight-x.highlight-y    { background-position: $size*13 $pos-white; }
div.point.white.top.right.highlight-x.highlight-y   { background-position: $size*9  $pos-white; }
div.point.white.bottom.left.highlight-x.highlight-y { background-position: $size*5  $pos-white; }
div.point.white.bottom.right.highlight-x.highlight-y{ background-position: $size    $pos-white; }
