!!!html
%html
  %head
    %title Agehama
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container
      .masthead
        %ul.nav.nav-pills.pull-right
          %li
            %a(href="#") About
        %h3.muted Agehama

      %hr

      .row
        .span12
          = yield
